[submodule "deps/cute_framework"]
	path = deps/cute_framework
	url = https://github.com/RandyGaul/cute_framework.git
[submodule "deps/blibs"]
	path = deps/blibs
	url = https://github.com/bullno1/libs.git
[submodule "deps/remodule"]
	path = deps/remodule
	url = https://github.com/bullno1/remodule.git
[submodule "deps/slopnet"]
	path = deps/slopnet
	url = https://github.com/bullno1/slopnet.git
[submodule "deps/slopsync"]
	path = deps/slopsync
	url = https://github.com/bullno1/slopsync.git
